html {
  font-family: Arial;
  margin: 40px;
  background-color: #f7f7f7;
}

.container {
  position: relative;
  width: 520px;
  height: 520px;
  -webkit-box-shadow: 20px 20px 32px -13px rgba(0,0,0,.8);
     -moz-box-shadow: 20px 20px 32px -13px rgba(0,0,0,.8);
          box-shadow: 20px 20px 32px -13px rgba(0,0,0,.8);
}

.squares-container {
  background-image: linear-gradient(#6bc4E7, #a4d7d3);
  width: 500px;
  height: 500px;
  border: 10px solid #fff;
  border-radius: 20px;
  box-shadow: 0px 0px 0px 10px #6bc4E7;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

.square-row {
  z-index: 1;
}

.square {
  margin-top: 47px;
  width: 180px;
  height: 180px;
  background-color: #f7f7f7;
  text-align: center;
  border-radius: 3px;
  font-size: 78px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #6bc4E7;
  text-shadow: -1.5px 0px 0px #9a9b9c, 0px 1.5px 0px #9a9b9c, 0px -0.5px 0px #9a9b9c, 0.5px 0px 0px #9a9b9c;
  -webkit-box-shadow: inset 3px 3px 18px rgba(0,0,0,.5);
     -moz-box-shadow: inset 3px 3px 18px rgba(0,0,0,.5);
          box-shadow: inset 3px 3px 18px rgba(0,0,0,.5);
  border-right: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
}

.background-square {
  position: absolute;
  z-index: 0;
  height: 260px;
  width: 260px;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto; 
  background-color: rgba(255,255,255,.2);
}
